body{
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    line-height: 1.5;

}

.container{
    max-width:1320px;
    margin: 0 auto;
    /* padding: 0 12px; */
    /* 手機板 */
    @media(max-width: 1920px){
        max-width: 1920px;
        padding: 0 12px;
    }
    @media(max-width: 768px){
        max-width: 768px;
        padding: 0 12px;
    }
    
}

a {
    text-decoration: none;
}

h1{
    font-size: $font-size-base*12;
}
h2{
    font-size:$font-size-base*6;
}